src/main/resources/META-INF/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/EmployeeService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://www.example.org/EmployeeService/" xmlns:xsd1="http://www.example.org/EmployeeService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/EmployeeService/">
      <xsd:element name="searchEmployee">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchEmployeeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEmployee">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getEmployeeResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getAndSearchEmployee">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getAndSearchEmployeeResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/EmployeeService"
    		schemaLocation="EmployeeServiceRequest.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.example.org/EmployeeService"
    		schemaLocation="EmployeeServiceResponse.xsd">
    	</xsd:import></xsd:schema>
  	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import namespace="http://www.example.org/EmployeeService"
  			schemaLocation="EmployeeServiceFault.xsd">
  		</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="searchEmployeeRequest">
    <wsdl:part name="content" element="xsd1:EmployeeService"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchEmployeeResponse">
    <wsdl:part name="content" element="xsd1:EmployeeServiceResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeeRequest">
  	<wsdl:part name="content" element="xsd1:EmployeeService"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeeResponse">
  	<wsdl:part name="content" element="xsd1:EmployeeServiceResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAndSearchEmployeeRequest">
  	<wsdl:part name="content" element="xsd1:EmployeeService"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAndSearchEmployeeResponse">
  	<wsdl:part name="content" element="xsd1:EmployeeServiceResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeService">
    <wsdl:operation name="searchEmployee">
      <wsdl:input message="tns:searchEmployeeRequest"/>
      <wsdl:output message="tns:searchEmployeeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getEmployee">
    	<wsdl:input message="tns:getEmployeeRequest"></wsdl:input>
    	<wsdl:output message="tns:getEmployeeResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAndSearchEmployee">
    	<wsdl:input message="tns:getAndSearchEmployeeRequest"></wsdl:input>
    	<wsdl:output message="tns:getAndSearchEmployeeResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeServiceSOAP" type="tns:EmployeeService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchEmployee">
      <soap:operation soapAction="http://www.example.org/EmployeeService/searchEmployee"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployee">
      <soap:operation soapAction="http://www.example.org/EmployeeService/getEmployee"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="getAndSearchEmployee">
      <soap:operation soapAction="http://www.example.org/EmployeeService/getAndSearchEmployee"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port binding="tns:EmployeeServiceSOAP" name="EmployeeServiceSOAP">
      <soap:address location="http://localhost:8080/EmployeeService/EmployeeService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
